.venv/**
__pycache__/**
chat-interface/.chainlit/**
chat-interface/__pycache__/**
gpt2/**
sms_spam_collection/**
__MACOSX/**

accuracy-plot.pdf
*.pth
instruction-data.json
instruction-data-with-response.json
loss-plot.pdf
model.pth
model_and_optimizer.pth
model-*.safetensors
review_classifier.pth
sentiment labelled sentences/
sentiment+labelled+sentences.zip
sms_spam_collection.zip
temperature-plot.pdf
test.csv
the-verdict.txt
train.csv
validation.csv
