.venv/**
__pycache__/**
gpt2/**
sms_spam_collection/**

gpt2-small-124M.pth
gpt2-small124M-sft.pth
instruction-data.json
instruction-data-with-response.json
loss-plot.pdf
model.pth
model_and_optimizer.pth
model-gpt2.safetensors
review_classifier.pth
sms_spam_collection.zip
temperature-plot.pdf
test.csv
the-verdict.txt
train.csv
validation.csv
